# Node.js
node_modules/

# Log files
**/_logs/*
*.log.txt
*.log.json
*.log

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*
!.env.sample
.vscode
.cursor

# App
data/repos.json
data/repos-backup-*.json
data/lfs-settings.json
temp/*
